<h2>Welcome back to your ultimate TRAVEL BUCKETLIST!</h2>

<p><h3>Sign-in:</h3></p>

<form action="/login" method="POST">
    <p><label for="email">Email:</label>
    <input type="text" name="email" /></p>

    <p><label for="password">Password:</label>
    <input type="password" name="password" /></p>

    <p><input type="submit" value="Login" /></p>

    <h5><p>New User? <a href="/register">Click Here to Register</a></p></h5>
</form>