<h2>Welcome to your ultimate TRAVEL BUCKETLIST!</h2>

<p><h3>Register Now:</h3></p>

<form action="/users" method="POST">
    <p><label for="email">Email:</label>
    <input type="text" name="email" /></p>

    <p><label for="password">Password:</label>
    <input type="password" name="password" /></p>

    <p><input type="submit" value="Register" /></p>

    <h5><p>Already Registered? <a href="/login">Back to Login</a></p></h5>
</form>