<div class="container">
  <h2>Welcome to Bucketlist Maker!!</h2>

  <h3> What would you like to do today? (Please Select)</h3>
  <h3><a href="/bucketlists/new"> Create New Bucketlist</a> || <a href="/bucketlists"> View all your Bucketlists!</a></h3>
</div>
