<h3> Lists of your Bucketlists! </h3>

<ul>
<% @bucketlist.each do |bucketlist|%>
    <h4>
        <li>
            <span><%=bucketlist.name%> </span>
            <a href="/bucketlists/<%= bucketlist.id %>">OPEN</a> | 
            <a href="/bucketlists/<%= bucketlist.id %>/edit">EDIT</a>
            <form action="/bucketlists/<%= bucketlist.id %>" method="post">
                <input id="hidden" type="hidden" name="_method" value="delete"> 
                <input type="submit" value="DELETE"> 
            </form> 
        </li>
    </h4> 
    
    <% end %>
</ul>