<h2>Welcome back to your ultimate TRAVEL BUCKETLIST!</h2>

<form action="/bucketlists" method="POST">
    <p><label for="name">Bucketlist name:</label>
    <input type="text" name="name"></p>

    <p><h4>Select a continent to see all of it's countries</h4></p>

    <label for="continent">Continent:</label>
    <select name="continents">
        <% @continents.each do |continent|%>
            <option value="<%=continent.name%>"><%=continent.name%></option>
        <%end%>
    </select>
    <br/><br/>
    <p><input type="submit" value="Create!" /></p>
</form>