<h2>Welcome back to your ultimate TRAVEL BUCKETLIST!</h2>

<form action="/bucketlists" method="POST">
    <p><label for="name">Bucketlist name:</label>
    <input type="text" name="name"></p>

    <p><input type="submit" value="Create!" /></p>

</form>